@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MoRe</h1>
    <p class="lead">MoRe is a movie rental application.</p>
</div>

<div class="row">
    <div class="col-md-4">
       
        <h2>Please Login</h2>
        <button class="btn btn-default">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </button>
</div>
    <div class="col-md-4">
        <h2>Please Register</h2>
        <button class="btn btn-default">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </button>
    </div>
</div>