    @model MoRe.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<h2>@Html.ActionLink("New Movie","NewMovie" , "Movies", new { @class = "btn btn-primary" })</h2>


<table class="table">
    <tr>
        <th>
            Movies
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td> @Html.ActionLink(movie.Name, "View", "Movies", new { id = movie.Id}, null)</td> 
            <td>
                @movie.Genres.Name
            </td>
        </tr>

            }
      
    </table>
